.home-hero .left-move{
    border-top-left-radius: 47%;
    border-bottom-left-radius: 47%;
    height: 400px;
    overflow: hidden;
    background-color: #0c2a2a;
}

.home-hero .left-move marquee span{
    padding: 20px;
    background-color: red;
    border-radius: 400%;
}

.logo{
    background: url(./assets/algo1.png) no-repeat;
    height: 70px;
    width: 750px;
    background-size: contain;
    margin-left: 20px; 
}

.nav{
    margin-right: 20px; 
    font-size: 16px;
    font-weight: bold; 
    text-decoration: underline;
}

